.hero-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
  
  .hero-section .text-white {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  